.exercise > button{
    margin: 10px;
}
.alert{
    margin: 20px;
    padding: 20px;
    transition: 1s ease;
}

.alert-visible{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.alert-hidden{
    display: none;
}

.exercise-text{
    font-size: 1.2rem;
    border: 1px solid black;
    margin: 20px;
    padding: 30px;
}